body {
	margin:0 auto;
}
.momday a {
		text-decoration:none;
	}

@media screen and (min-width:1025px) {

header {
	background: url('../images/edm_01.jpg') no-repeat;
	background-size:cover;
	position:relative;
	height:800px;
}
	h2 {
		position:relative;
		height:800px;
	}
	h2 img:nth-of-type(1){
		position:absolute;
		left:28%;
		top:100px;
	}
	h2 img:nth-of-type(2){
		position:absolute;
		left:20%;
		top:420px;
	}
	h2 img:nth-of-type(3){
		position:absolute;
		left:65%;
		top:400px;
	}
	h2 img:nth-of-type(4){
		display:none;
	}
	h2 img:nth-of-type(5){
		display:none;
	}
.bg-brown {
	background: url('../images/edm_02.jpg') no-repeat;
	background-size:cover;
	height:380px;
	
}
.sp-event {
	position:relative;
	display:flex;
	align-items:center;
	justify-content: center;
	margin-top:20px;
}
	h4 {
		display:block;
		margin:0 auto;
		text-align:center;
		padding-top:50px;
		color:#fff;
		font-size:1.5rem;
		letter-spacing:2px;
	}
	.choose1 {
		display:block;
		text-align:center;
		top:780px;
		left:50%;
		position:absolute;
		z-index:5;
		transform: translate(-50%, -50%);
	}
	.momday {
		background-color:#fff;
		width:400px;
		height:200px;
		margin:5px;
		display: flex;
	}
		.c-pic {
			display:flex;
			width:400px;
			justify-content: center;
			transform: perspective(1px) translateZ(0);
			transition-duration: 0.3s;
			transition-property: transform;
		}

		.c-pic:hover {
			transform: scale(1.1);
		}
		.c-desc {
			display:block;
			text-align:center;
			font-weight:1.2em;
			margin-top:10px;
			color:#443b3e;
			letter-spacing:1px;
			font-weight:600;
		}
	.tire-size {
		display:flex;
		justify-content: center;
	}
		strong {
			position:relative;
			color:#fff;	
			z-index:1;
			font-size:1.5rem;
			padding:2px 25px;
			margin-top:20px;
		}
		strong:before {
			content:'';
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			z-index:-1;
			margin-left:-20px;
		}
		.c-desc span {
			display:block;
		}
	.momday:after {
		content: '送';
		position:absolute;
		display:block;
		color:#fff;
		font-weight:bold;
		font-size:1.8rem;
		padding-left:5px;
	}
	.momday a:before {
		content:'';
		position:absolute;
		width:0;
		height:0;
		border-style:solid;
		border-width:70px 70px 0 0;
		border-color:#8fc320 transparent transparent;
	}
	/*商品區*/
	.baby-yellow {
		background-color:#f4eee1;
		padding-top:30px;
		
	}
	h3 {
		max-width:980px;
		background: linear-gradient(#4f5a52, #101714);
		text-align:center;
		padding:10px 0;
		margin:50px auto 20px auto;
		border-radius:5px;
	}
	h3 span {
		color:#fff;
		font-size:2rem;
	}
	main {
		display:flex;
		justify-content: center;
		margin-top:30px;
	}
	div .tire-part {
		display:flex;
		flex-wrap:wrap;	
		width:1100px;
		text-align:center;		
	}
	.hot-tire {
		background-color:#fff;
		width:530px;
		height:280px;
		margin:8px 10px;
		display:flex;
		border-radius:5px;
		transform: perspective(1px) translateZ(0);
		transition-duration: 0.3s;
		transition-property: transform;
	}
	.hot-tire:hover {
		transform: scale(1.1);
	}
		
	.hot-tire a > div  {
		width:220px;
		flex-basis:45%;
	}

	.hot-tire a {
		width:530px;
		display:flex;
		text-decoration:none;
	}
	.hot-tire .brand {
		width:250px;
	}
		.brand img {
			width:100%;
		}
		.tirename {
			font-weight:800;
			font-size:1.5rem;
		}
		.tirename span {
			display:block;
			color:#000;
		}
		.saleprice {
			font-size:1.2rem;
			margin-top:20px;
			
		}
		.saleprice  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
		div.marker {
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			padding:5px 0;
		}
		div.marker span {
			color:#fff;
			font-weight:bold;
			font-size:1.5rem;
		}
	div .others {
		display:flex;
		width:900px;
		flex-wrap:wrap;
		justify-content: center;
	}
		.others .products {
			background-color:#fff;
			margin:8px 10px;
			width:380px;
			height:430px;
			text-align:center;
			box-shadow: 5px 2px 10px #ccc6c2;
			border: 3px #8fc320 solid;
		}
		.products .products-pic {
			width:230px;
			margin:0 auto;
		}
		.products > div img {
			width:100%;
		}

		.others .products .benfit  {
			padding:5px 0;
			color:#fff;
			font-size:1.2rem;
			font-weight:bold;
			width:250px;
			text-align:center;
			background-color:#8fc320;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			margin: 0 auto;
		}
		.others .products  .p-name {
			margin-top:10px;
			font-weight:800;
			font-size:1.2rem;
			letter-spacing:0.5px;
		}
		.others .products  .p-name span{
			display:block;			
		}
		.saleprice2 {
			font-size:1.2rem;					
		}
		.saleprice2  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice2  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
			
		.products .shop-btn a {
			display:block;
			background-color:#8fc320;
			text-decoration:none;
			color:#fff;
			font-weight:800;
			font-size:1.3rem;
			line-height:47px;
		}
			.products .shop-btn a:hover{
				background-color:#fff;
				color:#8fc320;
				border-bottom:3px #8fc320 solid;
				border-top:3px #8fc320 solid;
				transition:0.3s;
				transform: skewY(-4deg);
		}

	}
/*平板pro*/
@media screen and (min-width:800px) and (max-width:1024px) {
	header {
	background: url('../images/md-bg.png') no-repeat;
	background-size:cover;
	position:relative;
	height:480px;
	
}
	h2 {
		position:relative;
		width:700px;
	}
	h2 img:nth-of-type(4){
		position:absolute;
		width:100%;
		left:25%;
		top:100px;
	}
	h2 img:nth-of-type(1){
		display:none;
	}
	h2 img:nth-of-type(2){
		display:none;
	}
	h2 img:nth-of-type(3){
		display:none;		
	}
	h2 img:nth-of-type(5){
		display:none;		
	}
	.bg-brown {
	background: url('../images/bg-gray-md.png') no-repeat;
	background-size:cover;
	height:400px;
	}
	.sp-event {
	position:relative;
	display:flex;
	align-items:center;
	justify-content: center;
	margin-top:20px;
	}
	h4 {
		display:block;
		margin:0 auto;
		text-align:center;
		padding-top:100px;
		color:#fff;
		font-size:1.5rem;
		letter-spacing:2px;
	}
	.choose1 {
		display:block;
		text-align:center;
		top:520px;
		left:50%;
		position:absolute;
		z-index:5;
		transform: translate(-50%, -50%);
	}
	.momday {
		background-color:#fff;
		width:280px;
		height:200px;
		margin:5px;
		display: flex;
	}
	.c-pic {
			display:flex;
			width:300px;
			justify-content: center;
		}
	.c-desc {
			display:block;
			text-align:center;
			font-weight:1.2em;
			margin-top:10px;
			color:#443b3e;
			letter-spacing:1px;
			font-weight:600;
		}
	.tire-size {
		display:flex;
		justify-content: center;
	}
	strong {
			position:relative;
			color:#fff;	
			z-index:1;
			font-size:1.5rem;
			padding:2px 25px;
			margin-top:20px;
		}
		strong:before {
			content:'';
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			z-index:-1;
			margin-left:-20px;
		}
		.c-desc span {
			display:block;
		}
	.momday:after {
		content: '送';
		position:absolute;
		display:block;
		color:#fff;
		font-weight:bold;
		font-size:1.8rem;
		padding-left:5px;
	}
	.momday a:before {
		content:'';
		position:absolute;
		width:0;
		height:0;
		border-style:solid;
		border-width:70px 70px 0 0;
		border-color:#8fc320 transparent transparent;
	}
	/*商品區*/
	.baby-yellow {
		background-color:#f4eee1;
		padding-top:30px;
	}
	h3 {
		max-width:980px;
		background: linear-gradient(#4f5a52, #101714);
		text-align:center;
		padding:10px 0;
		margin:20px auto 20px auto;
		border-radius:5px;
	}
	h3 span {
		color:#fff;
		font-size:2rem;
	}
	main {
		display:flex;
		justify-content: center;
		margin-top:30px;
	}
	div .tire-part {
		display:flex;
		flex-wrap:wrap;	
		text-align:center;		
	}
	.hot-tire {
		background-color:#fff;
		width:480px;
		height:280px;
		margin:8px 10px;
		display:flex;
		border-radius:5px;
	}
	.hot-tire a > div  {
		width:220px;
		flex-basis:45%;
	}

	.hot-tire a {
		width:530px;
		display:flex;
		text-decoration:none;
	}
	.hot-tire .brand {
		width:250px;
	}
		.brand img {
			width:100%;
		}
		.tirename {
			font-weight:800;
			font-size:1.5rem;
		}
		.tirename span {
			display:block;
			color:#000;
		}
		.saleprice {
			font-size:1.2rem;
			margin-top:20px;
			
		}
		.saleprice  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
		div.marker {
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			padding:5px 0;
		}
		div.marker span {
			color:#fff;
			font-weight:bold;
			font-size:1.5rem;
		}
		div .others {
		display:flex;
		width:900px;
		flex-wrap:wrap;
		justify-content: center;
	}
		.others .products {
			background-color:#fff;
			margin:8px 10px;
			width:380px;
			height:430px;
			text-align:center;
			box-shadow: 5px 2px 10px #ccc6c2;
			border: 3px #8fc320 solid;
		}
		.products .products-pic {
			width:230px;
			margin:0 auto;
		}
		.products > div img {
			width:100%;
		}

		.others .products .benfit  {
			padding:5px 0;
			color:#fff;
			font-size:1.2rem;
			font-weight:bold;
			width:250px;
			text-align:center;
			background-color:#8fc320;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			margin: 0 auto;
		}
		.others .products  .p-name {
			margin-top:10px;
			font-weight:800;
			font-size:1.2rem;
			letter-spacing:0.5px;
		}
		.others .products  .p-name span{
			display:block;			
		}
		.saleprice2 {
			font-size:1.2rem;					
		}
		.saleprice2  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice2  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
			
		.products .shop-btn a {
			display:block;
			background-color:#8fc320;
			text-decoration:none;
			color:#fff;
			font-weight:800;
			font-size:1.3rem;
			line-height:47px;
		}
			.products .shop-btn a:hover{
				background-color:#fff;
				color:#8fc320;
				border-bottom:3px #8fc320 solid;
				border-top:3px #8fc320 solid;
				transition:0.3s;
				transform: skewY(-4deg);
		}
}
@media screen and (min-width:767px) and (max-width:799px) {
	header {
	background: url('../images/md-bg.png') no-repeat;
	background-size:cover;
	position:relative;
	height:500px;
	
}
	h2 {
		position:relative;
		width:600px;
	}
	h2 img:nth-of-type(4){
		position:absolute;
		width:100%;
		left:19%;
		top:100px;
	}
	h2 img:nth-of-type(1){
		display:none;
	}
	h2 img:nth-of-type(2){
		display:none;
	}
	h2 img:nth-of-type(3){
		display:none;		
	}
	h2 img:nth-of-type(5){
		display:none;		
	}
	.bg-brown {
	background: url('../images/bg-gray-md.png') no-repeat;
	background-size:cover;
	height:380px;
	}
	.sp-event {
	position:relative;
	display:flex;
	align-items:center;
	justify-content: center;
	margin-top:20px;
	}
	h4 {
		display:block;
		margin:0 auto;
		text-align:center;
		padding-top:90px;
		color:#fff;
		font-size:1.5rem;
		letter-spacing:2px;
	}
	.choose1 {
		display:block;
		text-align:center;
		top:520px;
		left:50%;
		position:absolute;
		z-index:5;
		transform: translate(-50%, -50%);
	}
	.momday {
		background-color:#fff;
		margin:5px;
		display: flex;
	}
	.c-pic {
			display:flex;
			justify-content: center;
		}

		.c-desc {
			display:block;
			text-align:center;
			font-weight:1em;
			color:#443b3e;
			letter-spacing:1px;
			font-weight:600;
		}
	.tire-size {
		display:flex;
		justify-content: center;
	}
		strong {
			position:relative;
			color:#fff;	
			z-index:1;
			font-size:1.2rem;
			padding:2px 25px;
			top:20px;
		}
		strong:before {
			content:'';
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			z-index:-1;
			margin-left:-20px;
		}
		.c-desc span {
			display:block;
		}
	.momday:after {
		content: '送';
		position:absolute;
		display:block;
		color:#fff;
		font-weight:bold;
		font-size:1.8rem;
		padding-left:5px;
	}
	.momday a:before {
		content:'';
		position:absolute;
		width:0;
		height:0;
		border-style:solid;
		border-width:70px 70px 0 0;
		border-color:#8fc320 transparent transparent;
	}
	/*商品區*/
	.baby-yellow {
		background-color:#f4eee1;
		padding-top:30px;
	}
	h3 {
		max-width:720px;
		background: linear-gradient(#4f5a52, #101714);
		text-align:center;
		padding:10px 0;
		margin:20px auto 20px auto;
		border-radius:5px;
	}
	h3 span {
		color:#fff;
		font-size:2rem;
	}
	main {
		display:flex;
		justify-content: center;
		margin-top:30px;
	}
	div .tire-part {
		display:flex;
		flex-wrap:wrap;	
		text-align:center;
		justify-content: center;
	}
	.hot-tire {
		background-color:#fff;
		margin:8px 10px;
		display:flex;
		border-radius:5px;
	}
	.hot-tire a > div  {
		width:220px;
		flex-basis:45%;
	}

	.hot-tire a {
		width:530px;
		display:flex;
		text-decoration:none;
	}
	.hot-tire .brand {
		width:250px;
	}
		.brand img {
			width:100%;
		}
		.tirename {
			font-weight:800;
			font-size:1.5rem;
		}
		.tirename span {
			display:block;
			color:#000;
		}
		.saleprice {
			font-size:1.2rem;
			margin-top:20px;
			
		}
		.saleprice  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
		div.marker {
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			padding:5px 0;
		}
		div.marker span {
			color:#fff;
			font-weight:bold;
			font-size:1.5rem;
		}
			
		div .others {
		display:flex;
		flex-wrap:wrap;
		justify-content: center;
	}
		.others .products {
			background-color:#fff;
			margin:8px 10px;
			width:290px;
			text-align:center;
			box-shadow: 5px 2px 10px #ccc6c2;
			border: 3px #8fc320 solid;
		}
		.products .products-pic {
			width:230px;
			margin:0 auto;
		}
		.products > div img {
			width:100%;
		}

		.others .products .benfit  {
			padding:5px 0;
			color:#fff;
			font-size:1.2rem;
			font-weight:bold;
			width:250px;
			text-align:center;
			background-color:#615759;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			margin: 0 auto;
		}
		.others .products  .p-name {
			margin-top:10px;
			font-weight:800;
			font-size:1.2rem;
			letter-spacing:0.5px;
		}
		.others .products  .p-name span{
			display:block;			
		}
		.saleprice2 {
			font-size:1.2rem;					
		}
		.saleprice2  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice2  span:nth-of-type(2) {
			font-size:3rem;
			font-weight:800;
			color:#f72f2f;
		}
			
		.products .shop-btn a {
			display:block;
			background-color:#8fc320;
			text-decoration:none;
			color:#fff;
			font-weight:800;
			font-size:1.3rem;
			line-height:47px;
		}
			.products .shop-btn a:hover{
				background-color:#fff;
				color:#8fc320;
				border-bottom:3px #8fc320 solid;
				border-top:3px #8fc320 solid;
				transition:0.3s;
				transform: skewY(-4deg);
		}
}
/*手機*/
@media screen and (max-width:766px) {
	
header {
	background: url('../images/sm-bg.png') no-repeat;
	background-size:cover;
	position:relative;
	height:300px;
}
	h2 {
		position:relative;
		max-width:320px;
	}
	h2 img:nth-of-type(5){
		position:absolute;
		width:100%;
		left:10%;
		top:80px;
	}
	h2 img:nth-of-type(1){
		display:none;
	}
	h2 img:nth-of-type(2){
		display:none;
	}
	h2 img:nth-of-type(3){
		display:none;
	}
	h2 img:nth-of-type(4){
		display:none;
	}
	.bg-brown {
	background: url('../images/bg-gray-md.png') repeat-y;
	background-size:cover;
	padding: 0 0 30px 0;
	}
	.sp-event {
	position:relative;
	display:flex;
	align-items:center;
	justify-content: center;
	margin-top:20px;
	flex-wrap:wrap;
	}
	h4 {
		display:block;
		margin:0 auto;
		text-align:center;
		padding-top:90px;
		color:#fff;
		font-size:1.5rem;
		letter-spacing:2px;
	}
	.choose1 {
		display:block;
		text-align:center;
		top:350px;
		left:50%;
		position:absolute;
		z-index:5;
		transform: translate(-50%, -50%);
		width:200px;
	}
		.choose1 img {
			width:100%;
		}
	.momday {
		background-color:#fff;
		margin:10px;
		display: flex;
		
	}
		.c-pic {
			display:flex;
			justify-content: center;
			width:320px;
		}

		.c-desc {
			display:block;
			text-align:center;
			font-weight:1.2em;
			margin-top:10px;
			color:#443b3e;
			letter-spacing:1px;
			font-weight:600;
		}
	.tire-size {
		display:flex;
		justify-content: center;
	}
		strong {
			position:relative;
			color:#fff;	
			z-index:1;
			font-size:1.5rem;
			padding:2px 25px;
			top:10px;
		}
		strong:before {
			content:'';
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			background-color:red;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			z-index:-1;
			margin-left:-20px;
		}
		.c-desc span {
			display:block;
		}
	.momday:after {
		content: '送';
		position:absolute;
		display:block;
		color:#fff;
		font-weight:bold;
		font-size:1.8rem;
		padding-left:5px;
	}
	.momday a:before {
		content:'';
		position:absolute;
		width:0;
		height:0;
		border-style:solid;
		border-width:70px 70px 0 0;
		border-color:#8fc320 transparent transparent;
	}
	/*商品區*/
	.baby-yellow {
		background-color:#f4eee1;
		padding-top:30px;
	}
	h3 {
		max-width:500px;
		background: linear-gradient(#4f5a52, #101714);
		text-align:center;
		padding:10px 0;
		margin:10px auto 10px auto;
		border-radius:5px;
	}
	h3 span {
		color:#fff;
		font-size:2rem;
	}
	main {
		display:flex;
		justify-content: center;
		margin-top:30px;
	}
	div .tire-part {
		display:flex;
		flex-wrap:wrap;	
		text-align:center;
		justify-content: center;
	}
	.hot-tire {
		background-color:#fff;
		margin:8px 10px;
		display:flex;
		border-radius:5px;
	}
	.hot-tire a > div  {
		flex-basis:42%;
	}
	.hot-tire a > div img {
		width:100%;
	}
	.hot-tire a {
		display:flex;
		text-decoration:none;
	}
	.hot-tire .brand {
		width:200px;
	}
		.brand img {
			width:100%;
		}
		.tirename {
			font-weight:800;
			font-size:1.5rem;
		}
		.tirename span {
			display:block;
			color:#000;
		}
		.saleprice {
			font-size:1.2rem;
			margin-top:10px;
			
		}
		.saleprice  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice  span:nth-of-type(2) {
			font-size:1rem;
			font-weight:800;
			color:#f72f2f;
		}
		div.marker {
			background-color:red;
			-webkit-transform: skewX(-5deg);
			transform: skewX(-5deg);
			padding:5px 0;
		}
		div.marker span {
			color:#fff;
			font-weight:bold;
			font-size:1.2rem;
		}
		div .others {
		display:flex;
		flex-wrap:wrap;
		justify-content: center;
	}
		.others .products {
			background-color:#fff;
			margin:8px 5px;
			width:170px;
			text-align:center;
			box-shadow: 5px 2px 10px #ccc6c2;
			border: 3px #8fc320 solid;
		}
		.products .products-pic {
			width:150px;
			margin:0 auto;
		}
		.products > div img {
			width:100%;
		}

		.others .products .benfit  {
			padding:2px 0;
			color:#fff;
			font-weight:bold;			
			text-align:center;
			background-color:#615759;
			-webkit-transform: skewX(-10deg);
			transform: skewX(-10deg);
			margin: 0 10px;
		}
		.others .products  .p-name {
			margin-top:10px;
			font-weight:800;
			font-size:1rem;
			
		}
		.others .products  .p-name span{
			display:block;			
		}
		.saleprice2 {
			font-size:1.2rem;					
		}
		.saleprice2  span:nth-of-type(1) {
			color:#595757;
			text-decoration:line-through;
		}
		.saleprice2  span:nth-of-type(2) {
			font-size:2rem;
			font-weight:800;
			color:#f72f2f;
		}
			
		.products .shop-btn a {
			display:block;
			background-color:#8fc320;
			text-decoration:none;
			color:#fff;
			font-weight:600;
			font-size:1.3rem;
			
		}

}